@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=Courgette&family=Dancing+Script&family=Lobster+Two&display=swap');

#loading_container_page {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Baloo 2', cursive!important;
    text-align: center;
    flex-flow: column;
}

#loading_title {
    font-size: 70px;
}

#loading_subtitle {
    margin-top: 1.5em;
}

#load_page_spinner {
    margin: 3em;
    width: 7em;
    height: 7em;
}