.myrecipes-page {
    justify-content: center;
    padding: 15px;
    font-family: 'Baloo 2', cursive!important;
    min-height: 100vh;
    
}

.myrecipes-body {
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(24deg, rgba(245, 246, 220, 0.87), rgba(255, 255, 255, 0.479) 91.23%)!important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)!important;
    border-radius: 8px;
   
}

.myrecipes-header {
    color: #945921!important;
    margin-left: 12vh;
}